<template>
	<div id="app">
		<header>
			<span>Vue.js Firebase Todo Sample</span>
		</header>
		<main>
			<img src="./assets/logo.png" alt="Vue.js PWA">
			<ul>
				<item v-for="item in items" :item="item" v-bind:key="item.id"></item>
			</ul>
			<div>
				<input type="text" v-model="inputTitle">
				<button @click="ADD_TASK(inputTitle)">追加</button>
			</div>
		</main>
	</div>
</template>

<script>
 import { mapState, mapActions  } from 'vuex'
 import * as types from './store/mutation-types';
 import Item from './Item.vue';
 export default {
     name: 'app',
     components: { Item },
     data () {
         return {
             inputTitle: "",
         }
     },
     computed: {
         ...mapState(['items'])
     },
     methods: {
         ...mapActions([
			 types.ADD_TASK
		 ])
	 }
 }
</script>

<style>
 body {
	 margin: 0;
 }

 #app {
	 font-family: 'Avenir', Helvetica, Arial, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 color: #2c3e50;
 }

 main {
	 text-align: center;
	 margin-top: 40px;
 }

 header {
	 margin: 0;
	 height: 56px;
	 padding: 0 16px 0 24px;
	 background-color: #35495E;
	 color: #ffffff;
 }

 header span {
	 display: block;
	 position: relative;
	 font-size: 20px;
	 line-height: 1;
	 letter-spacing: .02em;
	 font-weight: 400;
	 box-sizing: border-box;
	 padding-top: 16px;
 }
 
 ul {
	 margin: 0 auto;
	 width: 200px;
 }
</style>
